#macro(includeNavigation, $active_tab)
<nav class="navbar navbar-dark bg-primary navbar-fixed-top" id="navigation">
   <a class="navbar-brand" style="color:white;" href="#">Gluu QA Automation</a>
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        #if ($run_with_jenkins)
          <li role="presentation"><a href="../">Jenkins</a></li>
          #if ($build_previous_number)
            <li role="presentation"><a href="../../$build_previous_number/cucumber-html-reports/$report_file">Previous results</a></li>
          #end
          <li role="presentation"><a href="../../lastCompletedBuild/cucumber-html-reports/$report_file">Latest results</a></li>
        #end
        <li role="presentation"   #if($active_tab == "features")  class="active" #end><a style="color:white;" href="/">Features</a></li>
        <li role="presentation"  #if($active_tab == "tags")  class="active" #end><a style="color:white;" href="/tags">Tags</a></li>
        <li role="presentation" #if($active_tab == "steps") class="active" #end><a style="color:white;" href="/steps">Steps</a></li>
        #if ($trends_present)
          <li role="presentation"  #if($active_tab == "trends") class="active" #end><a style="color:white;" href="/trends">Trends</a></li>
        #end
        <li role="presentation" #if($active_tab == "failures") class="active" #end><a style="color:white;" href="/failures">Failures</a></li>
      </ul>
    </div>
  </div>
</nav>
#end
