<nav class="navbar navbar-default" id="footer">
  <div class="container-fluid">
    <p class="navbar-text navbar-right">
        WORKING REALLY HARD IS WHAT SUCCESSFULL PEOPLE DO
        &nbsp;&nbsp;
    </p>
  </div>
</nav>
